name: First GitHub Action

on: [push]

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Say Hello
        run: echo "Hello, welcome to GitHub Actions!"

      - name: Run hello.py
        run: python3 hello.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-file
          path: output.txt
